<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.blackviking.campusrush">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Common.PersistenceClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:launchMode="singleTop"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Settings.NotificationSetting"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="97c5e0bb9711d1cf829d94e2147e8567b6542b37"
            tools:replace="android:value" />

        <activity
            android:name=".Splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".Common.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />

        <service
            android:name=".Notification.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Login"
            android:theme="@style/LoginBackground" />
        <activity
            android:name=".SignUp"
            android:theme="@style/LoginBackground" />
        <activity
            android:name=".SignIn"
            android:theme="@style/LoginBackground" />
        <activity
            android:name=".UserVerification"
            android:theme="@style/LoginBackground" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Settings.Settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Settings.AppInfo"
            android:theme="@style/LoginBackground" />
        <activity
            android:name=".Settings.Help"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Settings.Faq"
            android:theme="@style/AppTheme" />
        <activity android:name=".Settings.AccountSettings" />
        <activity android:name=".Settings.PrivacySetting" />
        <activity android:name=".FeedDetails" />
        <activity android:name=".Profile.MyProfile" />
        <activity android:name=".Profile.OtherUserProfile" />
        <activity android:name=".RantRoom" />
        <activity android:name=".Plugins.Awards.Awards" />
        <activity android:name=".Plugins.Scholarships.Scholarships" />
        <activity android:name=".Plugins.Vacancies.Vacancies" />
        <activity android:name=".Plugins.GamersHub.GamersHub" />
        <activity android:name=".Plugins.SkitCenter.SkitCenter" />
        <activity android:name=".About" />
        <activity android:name=".Plugins.GamersHub.GameInfo" />
        <activity android:name=".Plugins.SkitCenter.SkitDetails" />
        <activity android:name=".Plugins.Awards.AwardPolls" />
        <activity android:name=".Plugins.Awards.PollCandidates" />
        <activity
            android:name=".ImageController.ImageViewer"
            android:theme="@style/ImageViewTheme" />
        <activity android:name=".Plugins.GamersHub.AddGameFeed" />
        <activity android:name=".Plugins.GamersHub.GameFeedDetail" />
        <activity android:name=".Plugins.SkitCenter.AddNewSkit" />
        <activity android:name=".Plugins.SkitCenter.SkitManagement" />
        <activity android:name=".Plugins.Scholarships.ScholarshipInfo" />
        <activity android:name=".Plugins.Vacancies.VacancyInfo" />
    </application>

</manifest>