<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.blackviking.campusrush">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Common.PersistenceClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:launchMode="singleInstance"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <service
            android:name=".Services.SubscriptionService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".Services.CheckSubStatusService"
            android:enabled="true"
            android:exported="true"></service>



        <meta-data
            android:name="co.paystack.android.PublicKey"
            android:value="pk_live_ff14fabadbbe3bb22c5f3dc42da377993cf9b7f9" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="97c5e0bb9711d1cf829d94e2147e8567b6542b37"
            tools:replace="android:value" />

        <activity
            android:name=".Splash"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".Common.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />

        <service
            android:name=".Notification.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Login"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginBackground" />
        <activity
            android:name=".SignUp"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginBackground" />
        <activity
            android:name=".SignIn"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginBackground" />
        <activity
            android:name=".UserVerification"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginBackground" />
        <activity
            android:name=".Home"
            android:configChanges="orientation"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Settings.Settings"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Settings.AppInfo"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginBackground" />
        <activity
            android:name=".Settings.Help"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Settings.Faq"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Settings.AccountSettings"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Settings.PrivacySetting"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeedDetails"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.MyProfile"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.OtherUserProfile"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CampusRant.RantRoom"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Plugins.Awards.Awards"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Plugins.Scholarships.Scholarships"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Plugins.Vacancies.Vacancies"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Plugins.GamersHub.GamersHub"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Plugins.SkitCenter.SkitCenter"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Plugins.GamersHub.GameInfo"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Plugins.SkitCenter.SkitDetails"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Plugins.Awards.AwardPolls"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Plugins.Awards.PollCandidates"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImageController.ImageViewer"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ImageViewTheme" />
        <activity
            android:name=".Plugins.GamersHub.AddGameFeed"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Plugins.GamersHub.GameFeedDetail"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Plugins.SkitCenter.AddNewSkit"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManagementDetail"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Plugins.Scholarships.ScholarshipInfo"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Plugins.Vacancies.VacancyInfo"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Settings.NotificationSetting"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddFeed"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminManagement"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CampusBusiness.CampusAds"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CampusBusiness.SetBusinessAccount"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CampusBusiness.CreateAd"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CampusBusiness.RenewSubscription"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CampusRant.CampusRant"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/RantBackground"/>
        <activity
            android:name=".Messaging.Messaging"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CampusBusiness.AdDetails"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
    </application>

</manifest>